/* Default CSS */
body {
    font-size: 16px;
}

.headline-share h1 {
    font-size: 32px;
}

/* ◈◈◈◈◈◈◈◈◈◈ Section : welcome ◈◈◈◈◈◈◈◈◈◈ */
.welcome {
    background: #f9f9f9;
    height: 600px;
}

.welcome .slideshow img {
    width: 100%;
    height: 450px;
}

.welcome .welcome-heading {
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome-heading span {
    font-size: 20px;
}

.welcome-heading p {
    padding: 0 30px;
}

/* ◈◈◈◈◈◈◈◈◈◈ Section : ceo-access ◈◈◈◈◈◈◈◈◈◈ */
.ceo-content > div {
    float: none;
    width: 100%;
    text-align: center;
}

.ceo-content .ceo-left {padding-right: 0;}

.ceo-right > div {
    float: none;
}

.ceo-right .ceo-msg,
.ceo-right .ceo-photo {
    width: 100%;
}

.access-inner .access-content > div {
    float: none;
    width: 100%;
    text-align: center;
}

.access-content .access-left {
    padding: 30px 0;
}

.access-content .access-left h2 {
    font-size: 26px;
}

.access-left .btn-download a {
    display: block;
    text-align: center;
    width: 200px;
    margin: 5px auto;
}

.access-right img {
    width: 100%;
}

/* ◈◈◈◈◈◈◈◈◈◈ Section : banner ◈◈◈◈◈◈◈◈◈◈ */
.banner-content > div {
    float: none;
    width: 100%;
}

.tab-btn label {
    width: 27%;
}

.tab-btn {
    text-align: center;
}

.tab-btn label em {
    width: 100px;
    height: 100px;
}

.tabs .tab {
    padding: 20px;
    text-align: center;
}

.tabs .tab h2  {
    font-size: 26px;
}

.tab-btn label span {
    width: 100px;
    height: 100px;
    margin: 10px auto 0;
}

/* ◈◈◈◈◈◈◈◈◈◈ Section : feature ◈◈◈◈◈◈◈◈◈◈ */
.feature-inner .feature-content {
    margin: 80px 0;
}

.feature-content > div {
    float: none;
    width: 100%;
}

.feature-mockup img {
    width: 100%;
}

.feature-content .feature-about h2 {
    font-size: 22px;
    margin-top: 15px;
}

.feature-content .feature-about p {
    padding: 10px 0;
}

/* Change Order with Flex */
/* .feature-content.flex-order {
    display: flex;
    flex-direction: column;
}

.feature-content.flex-order > div:first-child {
    order: 1;
} */

/* ◈◈◈◈◈◈◈◈◈◈ Section : vision ◈◈◈◈◈◈◈◈◈◈ */
.vision {padding-top: 0;}

.vision-content > div {
    float: none;
    width: 100%;
    height: auto;
}

.vision-item-desc {
    padding: 30px 0;
}

/* ◈◈◈◈◈◈◈◈◈◈ Section : faq ◈◈◈◈◈◈◈◈◈◈ */
.faq-content {margin-top: 20px;}
.awards-content {margin-top: 20px;}

.faq-content > div {
    float: none;
    width: 100%;
    padding: 0;
}

/* ◈◈◈◈◈◈◈◈◈◈ Section : review ◈◈◈◈◈◈◈◈◈◈ */
/* .review {
    padding: 80px 0;
}

.review-inner .review-content {
    width: 100%;
}

.review-content h1.slogan {
    font-size: 22px;
}

.review-slider div p {
    padding: 20px;
}

.review-slider .slick-arrow {
    display: none !important;
} */

/* ◈◈◈◈◈◈◈◈◈◈ Section : focus ◈◈◈◈◈◈◈◈◈◈ */
/* .focus-content .focus-item {
    display: block;
    width: 100%;
    margin-bottom: 50px;
    padding: 0 20px;
} */

/* ◈◈◈◈◈◈◈◈◈◈ Section : guide ◈◈◈◈◈◈◈◈◈◈ */
.guide {
    padding: 60px 0;
}

.guide-content > div {
    float: none;
}

.guide-content .guide-slider,
.guide-content .guide-video {
    width: 100%;
    text-align: center;
}

.guide-content .guide-slider {
    margin-bottom: 60px;
}

.guide-video h1 {
    font-size: 24px;
}

.guide-video h2.video-headline {
    font-size: 20px;
}

h2.video-headline img {
    width: 30px;
}

.video-frame {
    width: 100%;
    height: 100%;
}

/* ◈◈◈◈◈◈◈◈◈◈ Section : news ◈◈◈◈◈◈◈◈◈◈ */
.news-content > div {
    float: none;
    text-align: center;
}

.news-content .news-left {
    width: 100%;
}

.news-content .news-right {
    width: 100%;
}

.news-left .news-big {
    width: 100%;
    height: 100%;
}

.news-thum:nth-child(1),
.news-thum:nth-child(3) {
    margin-right: 0;
}

.news-thum:nth-child(1),
.news-thum:nth-child(2) {
    margin-bottom: 0;
}

.news-thum .news-photo {
    display: block;
}

.news-photo img {
    width: 100%;
}

.news-right .news-items {
    height: 100%;
}

.news-items .news-thum {
    margin-top: 40px;
    width: 100%;
}

.news-thum p {
    text-align: start;
}

/* ◈◈◈◈◈◈◈◈◈◈ Footer ◈◈◈◈◈◈◈◈◈◈ */
footer {
    padding: 40px;
}

.footer-content > div {
    float: none;
    text-align: center;
}

.footer-content .footer-logo,
.footer-content .copyright {
    width: 100%;
}

.policy-sns .policy,
.policy-sns .sns {
    float: none;    
}

.policy-sns .policy {
    margin: 15px 0;
}

/* Video Modal */
.video-content {
    width: 90%;
}

.video-content iframe {
    width: 100%;
    height: 300px;
}